.intelli-box {
    display: none;
    position: absolute;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey-mid);
    padding: 5px;
    font-size: 14px;
    background-color: var(--black);
}

.active-prediction .blue {
    color: #2aaaff;
    font-weight: 600;
}

.active-prediction .white {
    color: #fff;
    font-weight: 600;
}

.blue {
    color: #1f82c4;
    font-weight: 350;
}

.white {
    color: #fff;
    font-weight: 350;
}