:root {
    --titlebar-height: 40px;
    --scrollbar-width: 10px;
    --editor-padding: 26px;
    --code-font-size: 14px;
    --code-font-weight: 350;
    --code-line-height: 25px;

    --white: #FAFAFA;
    --white-dimmed: #BDBDBD;
    --cream: #d2d2d2;
    --grey: #474747;
    --grey-light: #757575;
    --grey-mid: #2f2f2f;
    --grey-dark: #1e1e1e;
    --grey-transparent: #6969696d;
    --black: #151515;
    --blue: #264f78;
    --red: #ff0000;

    --c-blue-strong: #55aaef;
    --c-blue-light: #9cdcfe;
    --c-yellow: #dcdcaa;
    --c-orange: #d69d85;
    --c-green-light: #4ec9b0;
    --c-green-dark: #57a64a;
    --c-pink: #d8a0df;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cascadia Code', sans-serif;
}

*::selection {
    background-color: var(--blue);
}

*::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
    background: var(--black);
}

*::-webkit-scrollbar-corner {
    background: var(--black);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--grey-mid);
}

body {
    color: var(--white);
    background-color: var(--black);
}

.content {
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: var(--titlebar-height);
    overflow: scroll;
    overflow-x: hidden;
}

.editor-container {
    width: 100%;
    display: flex;
    padding-top: var(--editor-padding);
}

.code-box-container {
    width: 100%;
}

#code-box {
    border: none;
    outline: none;
    resize: none;
    font-size: var(--code-font-size);
    font-weight: var(--code-font-weight);
    line-height: 1.5;
    overflow-wrap: normal;
    caret-color: var(--white);
}

.line {
    height: var(--code-line-height);
    padding-top: 1px;
    border-width: 2px 0;
    border-color: transparent;
    border-style: solid;
}

#active-line {
    border-color: var(--grey-mid);
}

.line-number-container {
    text-align: center;
    cursor: default;
    padding: 0 25px 0;
}

.line-number-box {
    min-width: 17px;
    text-align: right;
}

.line-number {
    padding-top: 2px;
    height: var(--code-line-height);
    font-size: var(--code-font-size);
    line-height: 1.5;
    color: var(--grey-light);
}

.line-number:hover {
    color: var(--white);
}

#active-number {
    color: var(--white-dimmed);
}

/* TODO: fix*/
.buffer {
    width: 100%;
    margin-top: 1px;
}